$ashes:            #B4B6B8;
$black:            #000000;
$grave:            #4A4A4A;
$grayBackground:   #757779;
$grayFirstSection: #7F8181;
$greenButton:      #9BD53B;
$lightGrey:        #EFEFEF;
$white:            #FFFFFF;

// divided sections
$divButton:        #757779;

// Footer
$footerLink:       #757779;

// Theme 2
$clear:            #EBE5E5;
$dark:             #BBBBBB;
$sky:              #DBE5EE;
$grayButton:       #9B9B9B;
$greyText:         #4E4E4E;
$lineColor:        #979797;
$portfolioText:    #4E4E4E;
