$ashes:            #B4B6B8;
$colorLinkNavbar:  #FFFFFF;
$grave:            #4A4A4A;
$grayBackground:   #757779;
$grayFirstSection: #7F8181;
$greenButton:      #9BD53B;
$lightGrey:        #EFEFEF;

// Footer

$footerLink:       #757779;