@charset 'UTF-8';

@import 
  'abstracts/center',
  'abstracts/colors',
  'abstracts/variables';

@import
  'base/general',
  'base/fonts';

@import
  'layouts/navbar',
  'layouts/footer',
  'layouts/social_footer';

@import
  'pages/index/divided',
  'pages/index/divided_section',
  'pages/index/testimonials_slider',
  'pages/index/bubbles',
  'pages/index/suscribing',
  'pages/index/slider_hero',
  'pages/index/contact_info',
  'pages/index/social_gallery',
  'pages/index/addresses',
  'pages/index/nav_hero2',
  'pages/index/mission',
  'pages/index/big_image',
  'pages/index/portfolio',
  'pages/index/modern_column',
  'pages/index/modern-three-columns',
  'pages/blog/blog',
  'pages/blog/post',
  'pages/blog/sky_blog';

@import
  'themes/sky-theme';