@font-face {
    font-family: Muli-Light;
    src: url(Muli-ExtraLight.ttf);
}

.sliderText {
    background-color: $grayBackground;
    height: 100vh;
    position: relative;
    width: 100%;
    
    .information{
        margin-top: 40%;
        margin-left: 5%;
        
        .title{
            height: 60px;	
            width: 100%;
            color: #FFFFFF;
            font-family: 'Muli-Light';
            font-size: 48px;
            letter-spacing: 1px;
            line-height: 60px;
        }
        
        .description{
            height: 50px;
            width: 590px;
            color: #FFFFFF;
            font-family: 'Muli-Light';
            font-size: 20px;
            font-style: italic;
            font-weight: 300;
            line-height: 25px;
        }
    }
}

.contentComment {
  background-color: $grayBackground;
  height: 100vh;
  position: relative;
  width: 100%;
    
    .testimonial{
      @include center(true,true);
        
        .opinion {  
          color: #FFFFFF;	
          font-family: 'Muli-Light';	
          font-size: 36px;
          font-style: italic;
          font-weight: 300;
          height: 90px;	
          line-height: 45px;
          text-align: center;
          width: 776px;	
        }
        
        .author{
          height: 23px;	
          color: #FFFFFF;	
          font-family:  Muli-Light;
          font-size: 18px;	
          font-weight: 300;
          line-height: 23px;
          text-align: center;
        }
    }
}
