.contactInfo {
  background-color:darkgray; 
  text-align: center;
  width: 100%;    
    
  .contact-wrapper {
    display: inline-block;
    margin: 9em 2vw;
    max-width: 70vw;  
    width: 100%;
      
    .title {
      display: inline-block;    
      color: #FFFFFF;
      font-family: 'Muli-Light';
      font-size: 36px;
      font-style: italic;
      font-weight: 300;
      line-height: 45px;
      text-align: center;
      width: 100%;
    }   
        
    ::-webkit-input-placeholder { 
      color: #757779;
      font-family: 'Muli-Light';
      font-size: 22px;
      font-weight: 300;
      padding-left: 2%;
      height: 28px;
      line-height: 28px;    
      width: 83px;
    }
      
    .contact-element {
      border-radius: 100px;
      background-color: #FFFFFF;
      border-style: none;
      color: #757779;    
      font-family: 'Muli-Light';
      font-size:20px;
      height: 60px;    
      letter-spacing: 1px;
      margin: 0.8em 2%;    
      padding-left: 2%;
      width: 46%;    
    }  
      
     .contact-text-asunto {
      width: 61%;
    }   
      
    .btnEnviar {
      background-color: #DADADA;    
      font-size: 18px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: 0.5px;    
      text-align: center;
      width: 31%;
    }  
        
    .shadow:focus {
      box-shadow: 0 0 0 3pt gray;    
      outline: none;
    } 
  }
}