.modern-three-columns{
  padding-top: 5em;
  padding-bottom:5em;
  text-align: center;
  width: 100%;
  
    .modern-three-columns-wrapper{
      .modern-column-title{
        
      }
      .modern-column{
        display: inline-block;
        background-color: black;
        width: 30%;
        padding-top: 20.56%;  
      }
    
    }
}