.navAndHero {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #DBE5EE;
    
  .navbar-wrapper {
      overflow: hidden;
      
      .navbar {
        margin: 2em 0;      
      
        .navbar-item {    
          float: left;
          display: inline-block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 24px;
          text-decoration: none;
          font-size: 17px;
            
          @include medium {
            padding: 14px 18px;
          }    
        
          .item {
            text-decoration: none;  
            color: #4E4E4E;
            height: 18px;
            width: 87px;
            color: #4E4E4E;
            font-family: 'Raleway-Regular';
            font-size: 15px;
            font-weight: 300;
            line-height: 18px;
              
            @include medium {
              font-size: 13px;      
            }  
          }
            
          .item:hover{
            color: #FFFFFF;
          }
        }
      }
    }
    
  .hero-video {
    position: absolute;
    top: 50%;
    left: 65%;
    width: 48%;
    height: 60%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity; 
    margin: 0 2vw;
      
     @include medium {
       left: 57%;         
       width: 47em;
       height: 28em;
       margin: 0 -5vw; 
    }  
  }    
    
  .hero-wrapper {
    width: 100%;
    display: inline-block;
    margin: 14em 2vw;
    max-width: 65vw;
    text-align: left;   
      
    .hero-title {
      width: 70%;
      color: #4E4E4E;
      font-family: 'Raleway-SemiBold';
      font-size: 8vw;
      font-weight: bold;
      line-height: 95px; 
      text-align: left;
      margin-bottom: .2em;
      display: inline-block;
      position: relative;
      z-index: 2; 
    
      @include medium {
        font-size: 80px;
        width: inherit;
        line-height: 65px; 
      }
    }  
    
    .hero-description {
      width: 40%;
      color: #4E4E4E;
      font-family: 'Raleway-Regular';
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;    
      text-align: left;
      display: inline-block;
      position: relative;
      z-index: 2;        
        
      @include medium {
        font-size: 15px;  
        width: 57%;
      }    
    }      
  }    
}