.portfolio-section{
    text-align: center;
    
  .portfolio-wrapper{
      position: relative;
          .portfolio-image{
            display: inline-block;
            background-color: black;
            position: relative;
            width: 30%;
            padding-top: 20.56%;      
          }
      .image-wrapper{
          bottom: 4%;
          position: absolute;
          margin-left: auto;
          left: 6%;
          .image-title{
              text-align: left;
              color: #FFFFFF;
              font-family: Raleway-Light;	
              font-size: 2vmin;	
              font-weight: 500;	
              line-height: 16px; 
          }
          .image-description{	
              color: #FFFFFF;	
              font-family: Raleway-semiBold;
              font-size: 4vmin;	
              font-weight: bold;	
              line-height: 1em;
              text-align: left;
          }
      }
  }
    
  .portfolio-image-right{
      display: inline-block;
      background-color: black;
      position: relative;
      width: 60.2%;
      padding-top: 20.56%;      
  }
}