.suscribing-plan{   
  background-color: #FFFFFF;
  text-align: center;
  width: 100%; 
    
    .suscribe-wrapper{
        display: inline-block;
        margin: 6em 0;
        width: 95%;
      
        .suscribe-title{
          width: 100%;
          color: $grayBackground;
          display: inline-block;
          font-family: Muli-Light;	
          font-size: 2.8em;
          font-weight: 200;	
          line-height: 35px;
          max-width: 300px;
        }  
        
        .suscribe-item{ 
          border: 1px solid #D4D4D4;	
          border-radius: 8px;	
          background-color: #FFFFFF;	
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
          display: inline-block;
          height: 400px;
          position: relative;
          margin: 3em 1.4em 0;
          vertical-align: top;
          width: 220px;    
         } 
        
        .title-plan{
          color: $grayBackground;     	
          font-family: Muli;
          font-size: 12px;	
          font-weight: 600;
          height: 15px;	     
          line-height: 15px;	
          text-align: center;
          text-transform: uppercase;
          margin-top: 26px;
         }
        
        .subtitle-plan{    
          color: $grayBackground;	
          font-family: Muli-Light;	
          font-size: 10px;	
          font-style: italic;	
          font-weight: 300;
          height: 13px;
          line-height: 13px;	 
          margin-left: 23px;
          width: 175px; 
        } 
        
        .advantage{
            width: max-content;
            padding: 10%;
        }
        
        .advantage-plan{
          color: #757779;
          font-family: Muli-Light;
          font-size: 10px;
          font-weight: 300;
          height: 10px;	    
          line-height: 10px;
          text-align: left;    
        }
        
        .mark-suscribe{
          width: 10px; 
          margin-right:10px     
        }
        
        .button-chooise{
          border-radius: 100px;
          background-color: $greenButton;
          border: none;
          bottom: 0;    
          height: 38px;
          margin-left:35px;
          margin-bottom: 21px;    
          width: 150px;
          
        }
        
        .choose{     
          color: #FFFFFF;
          font-family: Muli-Light;
          font-size: 12px;
          height: 15px;    
          line-height: 15px;
          text-align: center;
          margin: 0px;
        }
        
        .suscribe-price{
          bottom: 0;    
          position: absolute;    
        }
        
        .symbol{      
          color: $grayBackground;
          display: inline-block;
          font-family: Muli-Light;	
          font-size: 18px;	
          font-weight: 300;
          height: 23px;
          line-height: 23px;
          margin-top: 15px;
          text-align: center;
          vertical-align: top;
          width: 11px;  
        }
        
        .money{      
          color: $grayBackground;    
          font-family: Muli-Light;	
          font-size: 56px;	
          font-weight: 200;
          height: 70px;	
          line-height: 70px;	
          text-align: right;
          width: 68px;    
        }
        
        .duration{
          color: $grayBackground;          
          font-family: Muli-Light;	
          font-size: 16px;	
          font-weight: 300;	
          height: 20px;
          letter-spacing: 1px;
          line-height: 20px;	
          text-align: center; 
          width: 31px;    
        }
        
        .price-description{ 
          bottom: 0;    
          color: $grayBackground;	
          font-family: Muli;
          font-size: 10px;	
          font-weight: 300;
          height: 13px;	
          line-height: 13px;         
          text-align: center;
        }
        
        .remaining-license{         
          color: $grayBackground;	
          font-family: Muli-Light;	
          font-size: 12px;
          font-weight: 300;
          height: 15px;
          line-height: 15px;	
          text-align: left;
          vertical-align: top;    
          width: 154px;	
        }
        
        .license-rectangule{
          border: 1px solid #B4B6B8;
          border-radius: 2px;
          float: right;
          height: 22px;
          margin-left: 8px;
          text-align: center;
          width: 28px;
        }
        
        .license-quantity{
          height: 15px;        	
          color: $grayBackground;
          font-family: Muli;
          font-size: 12px;
          font-weight: 300;
          height: 15px;
          line-height: 15px;
          text-align: center;
          margin-top: 2px;
        }
    }
}