.sky-blog {
  
  .background {
    background-color: $sky;
    height: 50vw;
    max-height: 655px;
    position: absolute;
    width: 96%;
    z-index: -1;

    @include medium {
      height: 64vw;
    }

    @include small {
      height: 90vw;
    }
  }

  .image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .main-article {
    color: $white;
    display: inline-block;
    margin: 12em 0 1vw 8vw;
    width: 55vw;

    @include medium {
      margin: 10em 0 1vw 3vw;
      width: 90vw;
    }

    @include small {
      margin: 10em 0 4vw 4vw;
      width: 88vw;
    }

    .cover {
      box-sizing: border-box;
      cursor: pointer;
      height: 34vw;
      padding: 3vw;
      position: relative;
      width: 100%;

      @include medium {
        height: 56vw;
      }

      @include small {
        height: 50vw;
      }

      &:hover {
        .shadow {
          background-color: rgba(0,0,0,0.6);
        }
      }
    }

    .frame {
      box-sizing: border-box;
      border: solid 8px $white;
      height: 24vw;
      position: relative;
      text-align: center;

      @include medium {
        height: 41vw;
      }

      @include small {
      	border: solid 3px $white;
      	height: 44vw;
      }
    }

    .main-wrapper {
      @include center(false,true);

      width: 100%;
    }

    .main-tag {
      font-family: Raleway-Regular;
      font-size: 2em;
      font-weight: bold;
      margin: 0.2em 0;
    }

    .main-title {
      font-family: Raleway-SemiBold; 
      font-size: 3.5vw;
      line-height: 1.3em;
      margin: 0;

      @include medium {
        font-size: 6vw;
      }
    }
  }

  .main-image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .shadow {
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .main-info {
    background-color: $grave;
    font-size: 1.3em;
    line-height: 1.6em;
    padding: 5%;

    @include medium {
      font-size: 1.6em;
    }

    @include small {
      padding: 7% 7% 5%;
      text-align: center;
    }

    .main-date {
      display: inline-block;
      font-family: Raleway-Light;
      margin: 0;
      vertical-align: top;
      width: 25%;

      @include small {
        display: none;
      }
    }

    .main-excerpt {
      display: inline-block;
      font-family: Raleway-Regular;
      margin: 0;
      vertical-align: top;
      width: 70%;

      @include small {
        width: 100%;
      }
    }

    .mobile-date {
      color: $clear;
      display: none;
      font-family: Raleway-SemiBold;
      font-weight: bold;
      margin: 0.7em 0 0;

      @include small {
        display: block;
      }
    }
  }

  .container {
    height: 70vw;
    margin: 0 0 2vw 7vw;
    width: 86vw;

    @include medium {
      margin: 0 0 2vw 2vw;
      width: 92vw;
    }
  }

  .popular {
    border-top: solid 5px $stone;
    display: block;
    float: right;
    margin: 1vw 1.5vw;
    width: 26vw;

    @include medium {
      border: none;
      float: none;
      margin: 0 auto 3vw;
      width: 320px;
    }

    @include small {
      display: none;
    }

    .popular-title {
      font-family: Raleway-SemiBold;
      font-size: 2.5em;
      margin: 1em 0 1.2em;
      text-align: center;
      width: 100%;
    }

    .popular-wrapper {
      border: solid 2px $stone;
      padding: 5px 15px 0 15px;
      position: relative;
    }

    .popular-nav {
      @include center(true,false);

      background-color: $white;
      margin: -23px 0;
      min-width: 155px;
      text-align: center;
      text-transform: uppercase;
    }

    .week-btn, .month-btn {
      background-color: $white;
      border: none;
      color: $black;
      cursor: pointer;
      display: inline-block;
      font-family: Raleway-SemiBold;
      font-size: 11px;
      font-weight: bold;
      vertical-align: middle;

      &:hover {
        color: $grave;
      }
    }

    .nav-line {
      background-color: $stone;
      display: inline-block;
      height: 35px;
      margin: 0 12px;
      vertical-align: middle;
      width: 1px;
    }

    .popular-main {
      cursor: pointer;
      height: 13vw;
      margin: 20px 0;
      padding: 20px;
      position: relative;
      width: 100%;

      @include medium {
        height: 165px;
        margin: 15px 0 20px;
      }

      &:hover {
        .shadow {
          background-color: rgba(0,0,0,0.6);
        }
      }
    }

    .popular-frame {
      border: solid 3px $white;
      height: 100%;
      position: relative;
      width: 100%;
    }

    .frame-wrapper {
      @include center(false,true);

      color: $white;
      font-family: Raleway-SemiBold;
      text-align: center;
      width: 100%;
    }

    .popular-tag {
      font-size: 10px;
      margin: 0;
    }

    .popular-head {
      font-size: 1.5vw;
      margin: 3px 0 0;

      @include medium {
        font-size: 2.5em;
      }
    }

    .popular-item {
      height: 6vw;
      margin: 20px 0;
      width: 100%;

      @include medium {
        height: 75px;
      }
    }

    .item-image {
      display: inline-block;
      height: 100%;
      width: 35%;
    }

    .item-text {
      display: inline-block;
      height: 100%;
      margin-left: 7%;
      position: relative;
      vertical-align: top;
      width: 56%;
    }

    .item-wrapper {
      @include center(false,true);

      width: 100%;
    }

    .tag {
      color: $dark;
      font-family: Raleway-SemiBold;
      font-size: 1.1em;
      margin: 0;

      @include medium {
      	font-size: 1.4em;
      }
    }

    .title {
      cursor: pointer;
      font-family: Raleway-SemiBold;
      font-size: 1.4vw;
      margin: 2px 0 0;

      @include medium {
        font-size: 1.7em;
      }

      &:hover {
        color: $dark;
      }
    }
  }

  .articles {
    display: block;
    float: right;
    font-size: 0;
    width: 57vw;

    @include medium {
      float: none;
      width: 92vw;
    }

    .article-item {
      display: inline-block;
      margin: 1vw;
      vertical-align: top;
      width: 26.5vw;

      @include medium {
        width: 44vw;
      }

      @include small {
        margin: 2vw;
        width: 88vw;
      }
    }
  }

  .item-cover {
    height: 17vw;

    @include medium {
      height: 27vw;
    }

    @include small {
      height: 55vw;
    }
  }

  .item-content {
    background-color: white;
    display: inline-block;
    text-align: center;
    width: 100%;

    .item-info {
      background-color: $stone;
      margin: -1vw auto 1vw;
      padding: 1.5vw;
      position: relative;
      width: 25vw;

      @include medium {
        font-size: 1.2em;
        margin: -1.6vw auto 2vw;
        width: 41vw;
      }

      @include small {
        margin: -2vw auto 2vw;
        padding: 1.5vw 4.5vw 5vw;
        width: 84vw;
      }
    }

    .item-tag {
      @include center(true,false);

      background-color: $white;
      color: $grave;
      font-family: Raleway-Light;
      font-size: 1.3em;
      font-weight: bold;
      line-height: 2.3em;
      margin: -1.15em 0;
      padding: 0 0.9em;
      text-transform: uppercase;
      top: 0;
    }

    .item-title {
      cursor: pointer;
      font-family: Raleway-SemiBold;
      font-size: 2.1em;
      margin: 1em 0 0.5em;

      &:hover {
        color: $white;
      }
    }

    .item-excerpt {
      color: $grave;
      font-family: Raleway-Light;
      font-size: 1.3em;
      font-weight: bold;
      line-height: 1.6em;
      margin: 0.7em;
    }

    .item-date {
      color: $grayButton;
      font-family: Raleway-SemiBold;
      font-size: 1.3em;
      font-weight: bold;
      margin: 1em 0;

      @include small {
        display: none;
      }
    }
  }
}