.sky-blog {
  
  .background {
    background-color: $sky;
    height: 40vw;
    position: absolute;
    width: 96%;
    z-index: -1;
  }

  .main-article {
  	color: $white;
  	display: inline-block;
  	margin: 12em 0 0.5vw 8vw;
    width: 55vw;

    .cover {
      box-sizing: border-box;
      height: 34vw;
      padding: 3vw;
      position: relative;
      width: 100%;
    }

    .main-image {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    .image {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .shadow {
      background-color: rgba(0,0,0,0.3);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    .frame {
      box-sizing: border-box;
      border: solid 8px $white;
      height: 24vw;
      position: relative;
      text-align: center;
    }

    .main-wrapper {
      @include center(false,true);

      width: 100%;
    }

    .main-tag {
      font-family: Raleway-Regular;
      font-size: 2em;
      font-weight: bold;
      margin: 0.2em 0;
    }

    .main-title {
      font-family: Raleway-SemiBold; 
      font-size: 3.5vw;
      line-height: 1.3em;
      margin: 0;
    }
  }

  .main-info {
    background-color: $grave;
    font-size: 1.3em;
    padding: 5%;

    .main-date {
      display: inline-block;
      font-family: Raleway-Light;
      margin: 0;
      vertical-align: top;
      width: 25%;
    }

    .main-excerpt {
      display: inline-block;
      font-family: Raleway-Regular;
      font-weight: bold;
      margin: 0;
      vertical-align: top;
      width: 70%;
    }
  }

  .container {
    height: 70vw;
    margin: 0 0 0 7.5vw;
    width: 86vw;
  }

  .popular {
    border-top: solid 5px $dark;
    display: block;
    float: right;
    margin: 0.5vw 2vw;
    width: 26vw;

    .popular-title {
      font-family: Raleway-SemiBold;
      font-size: 2.5em;
      margin: 1.5em 0;
      text-align: center;
      width: 100%;
    }

    .popular-wrapper {
      border: solid 2px $dark;
      padding: 15px;
      position: relative;
    }

    .popular-nav {
      @include center(true,false);

      background-color: $white;
      font-family: Raleway-SemiBold;
      font-weight: bold;
      font-size: 1.1em;
      line-height: 2em;
      margin-top: -1em;
      padding: 0 2em;
      text-transform: uppercase;
    }

    .popular-main {
      background-color: $grave;
      height: 13vw;
      margin: 20px 0;
      width: 100%;
    }

    .popular-item {
      background-color: $clear;
      height: 6vw;
      margin: 20px 0;
      width: 100%;
    }
  }

  .articles {
    display: block;
    float: right;
    width: 56vw;

    .article-item {
      background-color: $dark;
      float: left;
      height: 20vw;
      margin: 0.5vw;
      width: 27vw;
    }
  }
}