@font-face {
    font-family: Muli;
    src: url(../assets/fonts/Muli.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(../assets/fonts/Muli-Light.ttf);
}

@font-face {
    font-family: Muli-ExtraLight;
    src: url(../assets/fonts/Muli-ExtraLight.ttf);
}

@font-face {
    font-family: Raleway-Light;
    src: url(../assets/fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../assets/fonts/Raleway-SemiBold.ttf);
}