@font-face {
    font-family: Muli;
    src: url(../assets/fonts/Muli.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(../assets/fonts/Muli-Light.ttf);
}

@font-face {
    font-family: Muli-ExtraLight;
    src: url(../assets/fonts/Muli-ExtraLight.ttf);
}